/* line 2, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/alertn.scss */
.linkTran:hover {
  color: #000;
  cursor: pointer;
}

/* line 9, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/alertn.scss */
.content-hist-trans, .tablaSticky {
  max-height: 400px;
  overflow: auto;
  margin: 15px 0;
  padding-top: 0;
}
/* line 16, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/alertn.scss */
.content-hist-trans::-webkit-scrollbar, .tablaSticky::-webkit-scrollbar {
  width: 8px;
  /*=> ancho del scroll*/
  background-color: #000000;
  /*=> Color del fondo principal */
}
/* line 21, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/alertn.scss */
.content-hist-trans::-webkit-scrollbar-track, .tablaSticky::-webkit-scrollbar-track {
  background-color: #e7eaec;
}
/* line 25, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/alertn.scss */
.content-hist-trans::-webkit-scrollbar-thumb, .tablaSticky::-webkit-scrollbar-thumb {
  background-color: #0c3056;
  /*=> color del indicador del scroll */
  border-radius: 10px;
  /*=> bordes redondeados */
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3));
}
/* line 31, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/alertn.scss */
.content-hist-trans thead, .content-hist-trans tr, .content-hist-trans th, .tablaSticky thead, .tablaSticky tr, .tablaSticky th {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
