/* line 4, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/white_lists.scss */
input[type="checkbox"] {
  display: none;
}

/* line 8, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/white_lists.scss */
input[type="checkbox"] + .label-text:before {
  content: "\f096";
  cursor: pointer;
  font-family: 'FontAwesome';
  font-size: 1.2em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  margin-right: 5px;
  transition: .5s;
}

/* line 25, /home/josue/Documentos/Proyectos/gestor-central-lvp-josue/app/assets/stylesheets/white_lists.scss */
input:checked[type="checkbox"] + .label-text:before {
  content: "\f14a";
  transition: .5s;
  color: #003057;
}
