<%= javascript_include_tag 'iCheck/icheck.min' %>

<%#= @hola %>
<%#= @obser.present? %>
<% if @obser.present? %>


<!--  <div class="row">-->
<!--    <div class="col-sm-7"></div>-->
<!--    <div class="col-sm-5 text-right">-->
<!--      <div style="margin-bottom: 2em;">-->
<!--        <div class="detall_left" id="cont_obse">-->
          <%#= page_entries_info @obser, entry_name: t('views.new_alert_tran.obse') %>
<!--        </div>-->
<!--        <div class="pag_right" id="paginator_obse">-->
          <%#= paginate @obser, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="content-hist-trans">
    <table class="table table-bordered table- table-condensed table-striped">
      <thead>
      <tr>
        <th><%= t('views.new_alert_tran.date_hour') %></th>
        <th><%= t('views.new_alert_tran.obse') %></th>
        <th><%= t('views.new_alert_tran.state') %></th>
        <th><%= t('views.new_alert_tran.user_atn') %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @obser %> <!----------   --------->
      </tbody>
    </table>
  </div>

<!--  <div class="row">-->
<!--    <div class="col-sm-7"></div>-->
<!--    <div class="col-sm-5 text-right">-->
<!--      <div style="margin-bottom: 2em;">-->
<!--        <div class="pag_right" id="paginator_p_obse">-->
          <%#= paginate @obser, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>
<!--        </div>-->
<!--        <div class="detall_left" id="cont_p_obse">-->
          <%#= page_entries_info @obser, entry_name: t('views.new_alert_tran.obse') %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<% else %>
  <label><%= t('views.new_alert_tran.no_alerts_ob') %></label>
<% end %>
