//= require iCheck/icheck.min.js
<% if params[:kam] == "obse" %>
//= require iCheck/icheck.min.js

// Kaminari ajax para observaciones
$('#obse_hist').empty();
$('#obse_hist').html('<%= escape_javascript render(@observaciones) %>');
$('#cont_obse').html('<%= escape_javascript(page_entries_info(@observaciones, entry_name: t('views.new_alert_tran.obse')).to_s) %>');
$('#paginator_obse').html('<%= escape_javascript(paginate(@observaciones, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'obse', :observaciones => nil}).to_s) %>');
$('#cont_p_obse').html('<%= escape_javascript(page_entries_info(@observaciones, entry_name: t('views.new_alert_tran.obse')).to_s) %>');
$('#paginator_p_obse').html('<%= escape_javascript(paginate(@observaciones, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'obse', :observaciones => nil}).to_s) %>');



<% elsif params[:kam] == "hist" %>
//= require iCheck/icheck.min.js

// Kaminari ajax para historial de alertas
$('#alertas_hist').empty();
$('#alertas_hist').html('<%= escape_javascript render(@ConsultaHistTbit) %>');
$('#cont').html('<%= escape_javascript(page_entries_info(@ConsultaHistTbit, entry_name: t('activerecord.all.alert')).to_s) %>');
$('#paginator').html('<%= escape_javascript(paginate(@ConsultaHistTbit, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'hist', :observaciones => nil}).to_s) %>');
$('#cont_p').html('<%= escape_javascript(page_entries_info(@ConsultaHistTbit, entry_name: t('activerecord.all.alert')).to_s) %>');
$('#paginator_p').html('<%= escape_javascript(paginate(@ConsultaHistTbit, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm", :remote => true, params: {:id => @alerta_Tran.Id, :kam => 'hist', :observaciones => nil}).to_s) %>');


<% end %>



//-------------------------------- Fin KAMINARI

//----------------- Código Jose Luis AJAX KAMINARI
//alert('Esta es el ajax request!!!')
//$('#observacionesTable').html("<%= escape_javascript(render("observaciones")) %>")
//----------------- Terminado Código Jose Luis AJAX KAMINARI



var elem = document.querySelector('.js-switch');
var switchery = new Switchery(elem, {color: '#1AB394'});
$('.i-checks').iCheck({
    checkboxClass: 'icheckbox_square-green',
    radioClass: 'iradio_square-green',
});

$(".ref").click(function () {
    var id = $(this).children(".id_tran").children(".linkTran").html()
    var tiene = $("#head" + id).hasClass("cerrado")

    if (tiene) {
        $("#head" + id).show()
//            $("#content_ref" + id).show()
        $("#head" + id).removeClass("cerrado")
//            $("#content_ref" + id).removeClass("cerrado")
        $("#head" + id).addClass("abierto")
        $(this).children(".show").html("")
        $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("abierto")
    } else {
        $("#head" + id).hide()
//            $("#content_ref" + id).hide()
        $("#head" + id).removeClass("abierto")
//            $("#content_ref" + id).removeClass("abierto")
        $("#head" + id).addClass("cerrado")
        $(this).children(".show").html("")
        $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("cerrado")
    }

})

$('#tab input:checkbox').on('ifChecked', function (event) {
    //SOY DE ALERTTRAN
    console.log("me seleccionaron")
    var lc = localStorage.getItem("Selected");
    var selected = $(this).val();
    var checked_alert = lc.split(',')

    var existe = jQuery.inArray(selected, checked_alert)

    if (existe == -1) {
        if (lc == "") {
            localStorage.setItem("Selected", lc + selected);
        } else {
            localStorage.setItem("Selected", lc + "," + selected);
        }
    }


    if (lc == "") {
        $('#apply_obse').prop('disabled', true)
        $('#apply_obse').iCheck('uncheck');
    } else {
        $('#apply_obse').prop('disabled', false)
        $('.icheckbox_square-green').removeClass("disabled")
    }

    $("#valor").val(localStorage.getItem("Selected"))

    var lc = $("#valor").val()
    console.log(lc.length)
    console.log(lc)
    if (lc.length == 0){
        $('#apply_obse').iCheck('disable');
    }else {
        $('#apply_obse').iCheck('enable');
    }
});

$('#tab input').on('ifUnchecked', function (event) {
// SOY DE ALERTTRAN
    console.log("no me seleccionaron")
    var lc = localStorage.getItem("Selected");
    var selected = $(this).val();
    var checked_alert = lc.split(',')

    var existe = jQuery.inArray(selected, checked_alert)

    if (existe != -1) {
        checked_alert.splice(existe, 1)
        checked_alert = checked_alert.join(",");
        localStorage.setItem("Selected", checked_alert)
    }


    if (lc == "") {
        $('#apply_obse').prop('disabled', true)
        $('#apply_obse').iCheck('uncheck');
    } else {
        $('#apply_obse').prop('disabled', false)
        $('.icheckbox_square-green').removeClass("disabled")
    }

    $("#valor").val(localStorage.getItem("Selected"))

    var seleccionados = $("#tab input:checkbox:checked").map(function () {
        return $(this).val()
    }).get();

    if (seleccionados.length < 10) {
        $("#check_all").removeClass("sel")
        $("#check_all").addClass("unsel")
        $("#check_all").html('');
        $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
    } else {
        $("#check_all").removeClass("unsel")
        $("#check_all").addClass("sel")
        $("#check_all").html('');
        $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')
    }

    var lc = $("#valor").val()
    console.log(lc.length)
    console.log(lc)
    if (lc.length == 0){
        $('#apply_obse').iCheck('disable');
    }else {
        $('#apply_obse').iCheck('enable');
    }
});

$(function () {
    var lc = localStorage.getItem("Selected");

    var checked_alert = lc.split(',')

    for (var i = 0; i < checked_alert.length; i++) {
        var id_check = checked_alert[i]
        $("#apply_obse_to" + id_check).iCheck('check');
    }

    var seleccionados = $("#tab input:checkbox:checked").map(function () {
        return $(this).val()
    }).get();

    if (seleccionados.length < 10) {
        $("#check_all").removeClass("sel")
        $("#check_all").addClass("unsel")
        $("#check_all").html('');
        $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
    } else {
        $("#check_all").removeClass("unsel")
        $("#check_all").addClass("sel")
        $("#check_all").html('');
        $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')
    }
})