.linkTran{
  &:hover{
    color: #000;
    cursor: pointer;
  }
}


.content-hist-trans, .tablaSticky{
  max-height: 400px;
  overflow: auto;
  margin: 15px 0;
  padding-top: 0;

  //* Estilos para el scroll
  &::-webkit-scrollbar {
    width: 8px; /*=> ancho del scroll*/
    background-color: #000000; /*=> Color del fondo principal */
  }

  &::-webkit-scrollbar-track {
    background-color: #e7eaec; //*=> Background de la longitud sobre la que se desplasa el scroll
  }

  &::-webkit-scrollbar-thumb{
    background-color: #0c3056; /*=> color del indicador del scroll */
    border-radius: 10px; /*=> bordes redondeados */
    background-image:-webkit-linear-gradient(rgba(255,255,255,.3));
  }

  thead, tr, th {
    background-color: #fff;
    position: sticky;
    top: 0;
  }
}