// Place all the styles related to the filtersnos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn span.fa {
  opacity: 0;
}
.btn.active span.fa {
  opacity: 1;
}

.d-none{
  display: none;
}

.popover-custom{
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: .5em;
  position: absolute;
  min-height: 70px;
  top: 0;
  left: 11em;
  text-align: left;
  width: 220px;
  z-index: 1000;

  &:before{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom:25px solid transparent;  /* izquierda flecha */
    border-top:25px solid transparent; /* derecha flecha */
    border-right:10px solid #e5e5e5; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
    left: -10px;
  }
}
