// Place all the styles related to the white_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + .label-text:before{
  content: "\f096";
  cursor: pointer;
  font-family: 'FontAwesome';
  font-size: 1.2em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  margin-right: 5px;
  transition: .5s;
}

input:checked[type="checkbox"] + .label-text:before{
  content: "\f14a";
  transition: .5s;
  color: #003057;
}