<%#= javascript_include_tag "iCheck/icheck.min.js"%>
<% if is_active_controller('alertn') %>
  <tr class="ref">
    <td class="show"><i class="fa fa-plus-square" aria-hidden="true"></i></td>
    <td class="id_tran"><a class="linkTran"><%= tbitacora.Id %></a></td>
    <td><%= tbitacora.Fecha %>
      <bl></bl><%= tbitacora.Hora %></td>
    <% if tbitacora.IdProducto == 1 %>
      <td><%= "Transaccional" %></td>
    <% else %>
      <td><%= "Perfiles" %></td>
    <% end %>
    <td>
      <% if @hash_filtros[tbitacora.IdFiltro].present?%>
<!--        <%#= tbitacora.tx_filters.Id %>-<%#= tbitacora.tx_filters.Description %>-->
        <%= @hash_filtros[tbitacora.IdFiltro] %>
      <% else %>
        N/A
      <% end %>
    </td>
    <td>
      <%# if tbitacora.testadosxalerta.present? %>
      <% if @hash_states[tbitacora.IdEstado].present? %>
<!--        <%#= tbitacora.testadosxalerta.id %>-<%#= tbitacora.testadosxalerta.Descripcion %>-->
        <%= @hash_states[tbitacora.IdEstado] %>
      <% else %>
        N/A
      <% end %>
    </td>
    <td>
      <%# if tbitacora.user.present? %>
      <% if @hash_users[tbitacora.IdUsuario.to_i].present? %>
        <%#= tbitacora.user.name %> <%#= tbitacora.user.last_name %>
        <%= @hash_users[tbitacora.IdUsuario.to_i] %>
      <% else %>
        <%= tbitacora.IdUsuario %>
      <% end %>
    </td>
    <% if @editarNewTran == 4 || @editarNewPer == 4 %>
      <td>
        <input type="checkbox" class="i-checks aplicar check_all" value="<%= tbitacora.Id %>" name="apply<%= tbitacora.Id %>" id="apply_obse_to<%= tbitacora.Id %>"> <!-- checkbox -->
      </td>
    <% end %>
  </tr>

  <% if is_active_controller('alertn') && action_name == "alertTran" %>

    <% @camposref_tran = tbitacora.Referencia.split(">") %>
    <tr id="head<%= tbitacora.Id %>" style="display: none; background-color: #A5C9E6" class="cerrado">
      <td colspan="10">
        <% @camposref_tran.each do |valor| %>
          <div class="col-xs-3">
            <% if valor.split("=").first.from(5) == "OrigenKM" %>
              <label><%= t('views.new_alert_tran.origin') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Fecha_Hora" %>
              <label><%= t('views.new_alert_tran.date_hour') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Tipo_Operacion" %>
              <label><%= t('views.new_alert_tran.type') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Monto" %>
              <label><%= t('views.new_alert_tran.ammount') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Tarjeta" %>
              <label><%= t('views.new_alert_tran.card') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Entry_Mode" %>
              <label> Entry Mode:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Cap_Code" %>
              <label>Cap Code:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Merchan_Type" %>
              <label>Merchan Type:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Member_ID" %>
              <label>Member ID:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Terminal_ID" %>
              <label>Terminal ID:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Comercio" %>
              <label><%= t('views.new_alert_tran.commerce') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Ciudad" %>
              <label><%= t('views.new_alert_tran.city') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Poblacion" %>
              <label><%= t('views.new_alert_tran.city') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Aut_Num" %>
              <label>Aut_Num:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Afiliacion" %>
              <label><%= t('views.new_alert_tran.affiliation') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% else %>
              <label><%= valor.split("=").first.from(5) %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>
  <% else %>
    <% @camposref_tran = tbitacora.Referencia.split(">") %>
    <tr id="head<%= tbitacora.Id %>" style="display: none; background-color: #A5C9E6" class="cerrado">
      <td colspan="10">
        <% @camposref_tran.each do |valor| %>
          <div class="col-xs-3">
            <% if valor.split("=").first.from(5) == "Origen" %>
              <label><%= t('views.new_alert_tran.origin_s') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Fecha_Hora" %>
              <label><%= t('views.new_alert_tran.date_hour') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Tipo_Operacion" %>
              <label><%= t('views.new_alert_tran.type') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Monto" %>
              <label><%= t('views.new_alert_tran.ammount') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Tarjeta" %>
              <label><%= t('views.new_alert_tran.card') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Entry_Mode" %>
              <label>Entry Mode:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Cap_Code" %>
              <label>Cap Code:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Merchan_Type" %>
              <label>Merchan Type:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Member_ID" %>
              <label>Member ID:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Terminal_ID" %>
              <label>Terminal ID:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Comercio" %>
              <label><%= t('views.new_alert_tran.commerce') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Ciudad" %>
              <label><%= t('views.new_alert_tran.city') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Poblacion" %>
              <label><%= t('views.new_alert_tran.city') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Aut_Num" %>
              <label>Aut_Num:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% elsif valor.split("=").first.from(5) == "Afiliacion" %>
              <label><%= t('views.new_alert_tran.affiliation') %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% else %>
              <label><%= valor.split("=").first.from(5) %>:</label>
              <% if valor.split("=").length > 1 %>
                <%= valor.split("=").last.split("<").last %>
              <% else %>
                N/A
              <% end %>
            <% end %>
          </div>
        <% end %>
      </td>
    </tr>

  <% end %>

  <script type="text/javascript" charset="utf-8">

      $(function () {
          var elem = document.querySelector('.js-switch');
          var switchery = new Switchery(elem, {color: '#1AB394'});
          $('.i-checks').iCheck({
              checkboxClass: 'icheckbox_square-green',
              radioClass: 'iradio_square-green',
          });


          $(".ref").click(function () {
              var id = $(this).children(".id_tran").children(".linkTran").html()
              var tiene = $("#head" + id).hasClass("cerrado")

              if (tiene) {
                  $("#head" + id).show()
//            $("#content_ref" + id).show()
                  $("#head" + id).removeClass("cerrado")
//            $("#content_ref" + id).removeClass("cerrado")
                  $("#head" + id).addClass("abierto")
                  $(this).children(".show").html("")
                  $(this).children(".show").append('<i class="fa fa-minus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("abierto")
              } else {
                  $("#head" + id).hide()
//            $("#content_ref" + id).hide()
                  $("#head" + id).removeClass("abierto")
//            $("#content_ref" + id).removeClass("abierto")
                  $("#head" + id).addClass("cerrado")
                  $(this).children(".show").html("")
                  $(this).children(".show").append('<i class="fa fa-plus-square" aria-hidden="true"></i>')
//            $("#content_ref" + id).addClass("cerrado")
              }

          })

          $('#tab input:checkbox').on('ifChecked', function (event) {
              //SOY DE ALERTTRAN
              console.log("me seleccionaron")
              var lc = localStorage.getItem("Selected");
              var selected = $(this).val();
              var checked_alert = lc.split(',')

              var existe = jQuery.inArray(selected, checked_alert)

              if (existe == -1) {
                  if (lc == "") {
                      localStorage.setItem("Selected", lc + selected);
                  } else {
                      localStorage.setItem("Selected", lc + "," + selected);
                  }
              }


              if (lc == "") {
                  $('#apply_obse').prop('disabled', true)
                  $('#apply_obse').iCheck('uncheck');
              } else {
                  $('#apply_obse').prop('disabled', false)
                  $('.icheckbox_square-green').removeClass("disabled")
              }

              $("#valor").val(localStorage.getItem("Selected"))

              var lc = $("#valor").val()
              console.log(lc.length)
              console.log(lc)
              if (lc.length == 0){
                  $('#apply_obse').iCheck('disable');
              }else {
                  $('#apply_obse').iCheck('enable');
              }
          });

          $('#tab input').on('ifUnchecked', function (event) {
// SOY DE ALERTTRAN
              console.log("no me seleccionaron")
              var lc = localStorage.getItem("Selected");
              var selected = $(this).val();
              var checked_alert = lc.split(',')

              var existe = jQuery.inArray(selected, checked_alert)

              if (existe != -1) {
                  checked_alert.splice(existe, 1)
                  checked_alert = checked_alert.join(",");
                  localStorage.setItem("Selected", checked_alert)
              }


              if (lc == "") {
                  $('#apply_obse').prop('disabled', true)
                  $('#apply_obse').iCheck('uncheck');
              } else {
                  $('#apply_obse').prop('disabled', false)
                  $('.icheckbox_square-green').removeClass("disabled")
              }

              $("#valor").val(localStorage.getItem("Selected"))

              var seleccionados = $("#tab input:checkbox:checked").map(function () {
                  return $(this).val()
              }).get();

              if (seleccionados.length < 10) {
                  $("#check_all").removeClass("sel")
                  $("#check_all").addClass("unsel")
                  $("#check_all").html('');
                  $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.select') %> </label>')
              } else {
                  $("#check_all").removeClass("unsel")
                  $("#check_all").addClass("sel")
                  $("#check_all").html('');
                  $("#check_all").append('<i class="fa fa-minus-square" aria-hidden="true"></i> <label> <%= t('views.permisos_edit.unselect') %> </label>')
              }

              var lc = $("#valor").val()
              console.log(lc.length)
              console.log(lc)
              if (lc.length == 0){
                  $('#apply_obse').iCheck('disable');
              }else {
                  $('#apply_obse').iCheck('enable');
              }
          });

      })


      $(function () {
          var lc = localStorage.getItem("Selected");

          if (lc != "") {
              var checked_alert = lc.split(',')

              for (var i = 0; i < checked_alert.length; i++) {
                  var id_check = checked_alert[i]
                  $("#apply_obse_to" + id_check).iCheck('check');
              }
          }


      })
  </script>
<% elsif is_active_controller('niv_alertamiento') %>
  <tr class="show_more">
    <td class="show"><i class="fa fa-plus-square" aria-hidden="true"></i></td>
    <td class="id_tran"><%= tbitacora.Id %></td>
    <td><%= tbitacora.Fecha %>
      <bl></bl><%= tbitacora.Hora %></td>
    <td>
      <% if tbitacora.IdProducto == 1 %>
        <%= "Transaccional" %>
      <% else %>
        <%= "Perfiles" %>
      <% end %>
    </td>
    <td><%= tbitacora.IdTran %> </td>
    <td style="max-width: 30em"><%= tbitacora.Mensaje %></td>
    <td><%= tbitacora.IdEstado %>-<%= tbitacora.testadosxalerta.Descripcion %></td>
    <td>
      <% if tbitacora.user.present? %>
        <%= tbitacora.user.name %> <%= tbitacora.user.last_name %>
      <% else %>
        N/A
      <% end %>
    </td>
  </tr>
  <tr id="detail<%= tbitacora.Id %>" style="display: none; background-color: #A5C9E6" class="cerrado">
    <td colspan="8">
      <% if tbitacora.IdProducto == 1 %>
        <label><%= t('views.alertc_index.filter') %>: </label>
        <% if tbitacora.tx_filters.present? %>
          <%= tbitacora.tx_filters.Id %>-<%= tbitacora.tx_filters.Description %>
        <% else %>
          N/A
        <% end %>
      <% else %>
        <label><%= t('views.alertc_index.group') %>: </label>
        <% if tbitacora.tgrupos.present? %>
          <%= tbitacora.IdGrupo %>-<%= tbitacora.tgrupos.Nombre %>
        <% else %>
          N/A
        <% end %>
        <br>
        <label><%= t('views.alertc_index.profile') %>: </label>
        <% @perfil = Tperfiles.where(:IdPerfil => tbitacora.IdPerfil).where(:IdGrupo => tbitacora.IdGrupo) %>
        <% if @perfil.present? %>
          <% @perfil.each do |per| %>
            <%= per.IdPerfil %>-<%= per.Nombre %>
          <% end %>
        <% else %>
          N/A
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
