<%= form_for(filtersno) do |f| %>
  <% if filtersno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filtersno.errors.count, "error") %> prohibited this filtersno from being saved:</h2>

      <ul>
      <% filtersno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdFiltro %>
    <%= f.number_field :IdFiltro %>
  </div>

  <div class="field">
    <%= f.label :IdUsuario %>
    <%= f.number_field :IdUsuario %>
  </div>

  <div class="field">
    <%= f.label :Fecha %>
    <%= f.text_field :Fecha %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
